version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: vacafacil_db
      POSTGRES_USER: vacafacil_db_user
      POSTGRES_PASSWORD: PSe1PGXrOBTMHgbp9KvcIkfPfpdq3KBe
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://vacafacil_db_user:PSe1PGXrOBTMHgbp9KvcIkfPfpdq3KBe@dpg-d4b146uuk2gs739q6qag-a.oregon-postgres.render.com/vacafacil_db
    volumes:
      - ./app:/app/app

volumes:
  postgres_data: