version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: vacafacil
      POSTGRES_USER: vacafacil_user
      POSTGRES_PASSWORD: sua_senha_aqui
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://vacafacil_user:sua_senha_aqui@db/vacafacil
    volumes:
      - ./app:/app/app

volumes:
  postgres_data: